<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jqk.guitarassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lyric.LyricActivity">

        </activity>
        <activity android:name=".free.FreeActivity">

        </activity>
        <activity android:name=".music.MusicActivity"></activity>
        <activity android:name=".search.SearchActivty"></activity>
        <activity android:name=".status.HeaderActivity"></activity>
        <activity android:name=".status.XinlvActivity"
            android:theme="@style/BlackAppTheme"></activity>
        <activity android:name=".status.DuanlianActivity"
            android:theme="@style/BlackAppTheme"></activity>
        <activity android:name=".status.ShuimianActivity"
            android:theme="@style/BlackAppTheme"></activity>
        <activity android:name=".status.ChenmaiActivity"
            android:theme="@style/BlackAppTheme"></activity>
    </application>

</manifest>